@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
}

.Toastify__toast{
    min-height: auto !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 12px !important;
    padding: 16px 16px !important;
}